# Ignore Terraform directories and files
.terraform/
*.terraform.lock.hcl

# Ignore MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Folder settings
.Spotlight-V100
.Trashes

# Files that might appear on external disks
.VolumeIcon.icns
